.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  padding: 3px;
}

.container {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin-left: 10%;
  padding: 5px;
}

.description {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
}

.components {
  background-color: burlywood;
}
